<div class="contact-container thq-section-padding" [ngClass]="rootClassName">
  <div class="contact-max-width thq-section-max-width">
    <div class="contact-content thq-flex-row">
      <div class="contact-content1">
        <h2 class="thq-heading-2 contact-text">{{ heading1 }}</h2>
      </div>
    </div>
    <div class="contact-content2 thq-flex-row">
      <div class="contact-container1">
        <iframe
          [attr.src]="location1GoogleMap"
          title="Map"
          class="contact-iframe"
        ></iframe>
      </div>
      <div class="contact-container2">
        <h3 class="contact-text1 thq-heading-3">{{ location2 }}</h3>
        <p class="contact-text2 thq-body-large">{{ location2Details }}</p>
        <div class="contact-container3">
          <span class="thq-button-flat thq-body-small">Get directions</span>
        </div>
      </div>
    </div>
  </div>
</div>
