<div class="gallery-gallery3 thq-section-padding">
  <div class="gallery-max-width thq-section-max-width">
    <div class="gallery-content">
      <div class="gallery-container">
        <img
          [attr.alt]="image1Alt"
          [attr.src]="image1Src"
          class="gallery-image1 thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image2Alt"
          [attr.src]="image2Src"
          class="gallery-image2 thq-img-ratio-1-1"
        />
      </div>
      <div class="gallery-container1">
        <img
          [attr.alt]="image3Alt"
          [attr.src]="image3Src"
          class="gallery-image3 thq-img-ratio-4-3"
        />
      </div>
    </div>
  </div>
</div>
