<div class="thq-section-padding">
  <div class="stats-max-width thq-section-max-width">
    <div class="stats-container1">
      <h2 class="thq-heading-2 stats-title">{{ heading1 }}</h2>
    </div>
    <div class="stats-container2">
      <div class="stats-container3">
        <h2 class="thq-heading-2">{{ stat1 }}</h2>
        <span class="thq-body-small stats-text1">{{ stat1Description }}</span>
      </div>
      <div class="stats-container4">
        <h2 class="thq-heading-2">{{ stat2 }}</h2>
        <span class="thq-body-small stats-text3">{{ stat2Description }}</span>
      </div>
      <div class="stats-container5">
        <h2 class="thq-heading-2">{{ stat3 }}</h2>
        <span class="thq-body-small stats-text5">{{ stat3Description }}</span>
      </div>
    </div>
  </div>
</div>
