<div class="sign-in-container thq-section-padding">
  <div class="sign-in-max-width thq-section-max-width">
    <div class="sign-in-container1 thq-section-padding">
      <div class="sign-in-form">
        <div class="sign-in-container2">
          <h2 class="thq-heading-2 sign-in-text">{{ heading1 }}</h2>
          <p class="thq-body-large">{{ content1 }}</p>
        </div>
        <form class="sign-in-form1">
          <div class="sign-in-email">
            <label for="thq-sign-in-10-email" class="thq-body-large">
              Email
            </label>
            <input
              type="email"
              id="thq-sign-in-10-email"
              required="true"
              placeholder="Email address"
              class="sign-in-textinput thq-input thq-body-large"
            />
          </div>
          <div class="sign-in-password">
            <div class="sign-in-textfield">
              <div class="sign-in-container3">
                <label for="thq-sign-in-10-password" class="thq-body-large">
                  Password
                </label>
              </div>
              <input
                type="password"
                id="thq-sign-in-10-password"
                required="true"
                placeholder="Password"
                class="sign-in-textinput1 thq-input thq-body-large"
              />
            </div>
            <span class="sign-in-text4 thq-body-small">Forgot password</span>
          </div>
        </form>
        <button type="submit" class="sign-in-button thq-button-filled">
          <span class="sign-in-text5 thq-body-small">{{ action1 }}</span>
        </button>
      </div>
    </div>
    <div class="sign-in-container4 thq-section-padding">
      <div class="sign-in-container5">
        <h2 class="thq-heading-2">{{ heading2 }}</h2>
        <p class="sign-in-text7 thq-body-large">{{ content2 }}</p>
      </div>
      <button type="submit" class="sign-in-button1 thq-button-filled">
        <span class="sign-in-text8 thq-body-small">{{ action2 }}</span>
      </button>
    </div>
  </div>
</div>
