.solid-button-container {
  display: flex;
  position: relative;
  text-align: center;
}

.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #8e0121;
}

.solid-button-root-class-name {
  margin-left: var(--dl-space-space-unit);
}

.solid-button-button:hover {
  background-color: #bb002c;
  transition: 0.3s ease-in-out;
}
