<div class="pricing-pricing3 thq-section-padding">
  <div class="pricing-max-width thq-section-max-width">
    <div class="pricing-section-title">
      <div class="pricing-content">
        <h2 class="pricing-text thq-heading-2">{{ heading1 }}</h2>
      </div>
    </div>
    <div class="pricing-content1 thq-card">
      <img
        [attr.src]="imageSrc1"
        [attr.alt]="imageAlt1"
        id="/assets/logo_255-200h.png"
        class="pricing-image thq-team-image-round"
      />
      <div class="thq-divider-horizontal"></div>
      <div class="pricing-list">
        <div class="pricing-list-item">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
          </svg>
          <span class="thq-body-small">{{ plan1Feature1 }}</span>
        </div>
        <div class="pricing-list-item1">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
          </svg>
          <span class="thq-body-small">{{ plan1Feature2 }}</span>
        </div>
        <div class="pricing-list-item2">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
          </svg>
          <span class="thq-body-small">{{ plan1Feature3 }}</span>
        </div>
        <div class="pricing-list-item3">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path d="M384 690l452-452 60 60-512 512-238-238 60-60z"></path>
          </svg>
          <span class="thq-body-small">{{ plan1Feature5 }}</span>
        </div>
      </div>
      <div class="thq-divider-horizontal"></div>
      <div class="pricing-price">
        <h3 class="pricing-text5 thq-heading-3">{{ plan1Price }}</h3>
      </div>
      <button class="pricing-button thq-button-filled">
        <span class="thq-body-small">{{ plan1Action }}</span>
      </button>
    </div>
  </div>
</div>
