<div class="thq-section-padding" [ngClass]="rootClassName">
  <div class="reviews-max-width thq-section-max-width">
    <div class="reviews-section-title">
      <h2 class="reviews-title thq-heading-2">{{ heading1 }}</h2>
    </div>
    <div class="reviews-content thq-flex-row">
      <div class="reviews-column thq-card thq-flex-column">
        <div class="reviews-stars">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path>
          </svg>
        </div>
        <span class="reviews-text thq-body-small">{{ review1 }}</span>
        <div class="reviews-avatar">
          <img
            [attr.alt]="author1Alt"
            [attr.src]="author1Src"
            class="reviews-avatar-image thq-img-round thq-img-ratio-1-1"
          />
          <div class="reviews-avatar-content">
            <span class="reviews-text1 thq-body-small">{{ author1Name }}</span>
            <span class="thq-body-small">{{ author1Position }}</span>
          </div>
        </div>
      </div>
      <div class="reviews-column1 thq-card thq-flex-column">
        <div class="reviews-stars1">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path>
          </svg>
        </div>
        <span class="reviews-text3 thq-body-small">{{ review2 }}</span>
        <div class="reviews-avatar1">
          <img
            [attr.alt]="author2Alt"
            [attr.src]="author2Src"
            class="reviews-avatar-image1 thq-img-round thq-img-ratio-1-1"
          />
          <div class="reviews-avatar-content1">
            <span class="reviews-text4 thq-body-small">{{ author2 }}</span>
            <span class="thq-body-small">{{ author2Position }}</span>
          </div>
        </div>
      </div>
      <div class="reviews-column2 thq-card thq-flex-column">
        <div class="reviews-stars2">
          <svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path>
          </svg>
        </div>
        <span class="reviews-text6 thq-body-small">{{ review3 }}</span>
        <div class="reviews-avatar2">
          <img
            [attr.alt]="author3Alt"
            [attr.src]="author3Src"
            class="reviews-avatar-image2 thq-img-round thq-img-ratio-1-1"
          />
          <div class="reviews-avatar-content2">
            <span class="reviews-text7 thq-body-small">{{ author3 }}</span>
            <span class="thq-body-small">{{ author3Position }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
