<div class="thq-section-padding">
  <div class="description-max-width thq-section-max-width">
    <div class="description-container01">
      <h2>{{ title1 }}</h2>
      <span class="description-text1 thq-body-small">{{ content1 }}</span>
      <div class="description-container02"></div>
    </div>
    <div class="description-timeline-container">
      <div class="description-step1">
        <div class="description-container03">
          <div class="description-container04"></div>
          <div class="description-progress0"></div>
        </div>
        <div class="description-container05">
          <h3 class="thq-heading-3">{{ date1 }}</h3>
          <h3 class="description-text3 thq-heading-3">{{ card1Heading }}</h3>
          <span class="thq-body-small">{{ card1Content }}</span>
          <div class="description-container06"></div>
        </div>
      </div>
      <div class="description-step2">
        <div class="description-container07">
          <div class="description-container08"></div>
          <div class="description-progress01"></div>
        </div>
      </div>
      <div class="description-step3">
        <div class="description-container09">
          <div class="description-container10"></div>
          <div class="description-progress02"></div>
        </div>
      </div>
      <div class="description-step4">
        <div class="description-container11">
          <div class="description-container12"></div>
          <div class="description-progress03"></div>
        </div>
        <div class="description-container13">
          <h3 class="description-text5 thq-heading-3">{{ card4Heading }}</h3>
          <span class="thq-body-small">{{ card4Content }}</span>
          <div class="description-container14"></div>
        </div>
      </div>
    </div>
  </div>
</div>
