<div class="register1-container">
  <div class="register1-max-width thq-section-max-width">
    <div class="register1-form-root thq-section-padding">
      <div class="register1-form">
        <div class="register1-title-root">
          <h2 class="thq-heading-2">{{ heading1 }}</h2>
          <div class="register1-have-an-account-login">
            <p class="thq-body-large">Already have an account? Sign in</p>
          </div>
        </div>
        <form class="register1-form1">
          <div class="register1-email">
            <label for="thq-sign-up-1-email" class="thq-body-large">
              Email
            </label>
            <input
              type="email"
              id="thq-sign-up-1-email"
              required="true"
              placeholder="Email address"
              class="register1-textinput thq-input thq-body-large"
            />
          </div>
          <div class="register1-username">
            <label for="thq-sign-up-1-username" class="thq-body-large">
              Username
            </label>
            <input
              type="text"
              id="thq-sign-up-1-username"
              required="true"
              placeholder="Username"
              class="register1-textinput1 thq-input thq-body-large"
            />
          </div>
          <div class="register1-password">
            <div class="register1-textfield">
              <div class="register1-container1">
                <label for="thq-sign-up-1-password" class="thq-body-large">
                  Password
                </label>
              </div>
              <input
                type="password"
                id="thq-sign-up-1-password"
                required="true"
                placeholder="Password"
                class="register1-textinput2 thq-input thq-body-large"
              />
            </div>
            <div class="register1-pass-requirements">
              <div class="register1-pass-conditions1">
                <div class="register1-bulletpoint">
                  <div class="register1-container2"></div>
                  <span class="register1-text05 thq-body-small">
                    Use 8 or more characters
                  </span>
                </div>
                <div class="register1-bulletpoint1">
                  <div class="register1-container3"></div>
                  <span class="register1-text06 thq-body-small">
                    One special character
                  </span>
                </div>
              </div>
              <div class="register1-pass-conditions2">
                <div class="register1-bulletpoint2">
                  <div class="register1-container4"></div>
                  <span class="register1-text07 thq-body-small">
                    One Uppercase character
                  </span>
                </div>
                <div class="register1-bulletpoint3">
                  <div class="register1-container5"></div>
                  <span class="register1-text08 thq-body-small">
                    One number
                  </span>
                </div>
              </div>
              <div class="register1-pass-conditions3">
                <div class="register1-bulletpoint4">
                  <div class="register1-container6"></div>
                  <span class="register1-text09 thq-body-small">
                    One lowercase character
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="register1-container7">
          <input
            type="checkbox"
            id="thq-sign-up-1-newsletter"
            checked="true"
            class="thq-checkbox"
          />
          <label for="thq-sign-up-1-newsletter" class="thq-body-large">
            {{ content1 }}
          </label>
        </div>
        <div class="register1-terms-agree">
          <p class="thq-body-large">
            <span>
              By creating an account, you agree to the Terms of use and Privacy
              Policy.
              <span [innerHTML]="raw2c3b"></span>
            </span>
            <span><span [innerHTML]="rawulw9"></span></span>
          </p>
        </div>
        <button type="submit" class="register1-button thq-button-filled">
          <span class="register1-text14 thq-body-small">{{ action1 }}</span>
        </button>
        <div class="register1-have-an-account-login1">
          <p class="thq-body-large">Already have an account? Sign in</p>
        </div>
      </div>
    </div>
  </div>
</div>
